// Diaeresis
#define UC_AF_AE  0xe4  0xc4    // ä/Ä
#define UC_AF_OE  0xf6  0xd6    // ö/Ö
#define UC_AF_UE  0xfc  0xdc    // ü/Ü
#define UC_AF_EE  0xeb  0xcb    // ë/Ë
#define UC_AF_IE  0xef  0xcf    // ï/Ï

// Circumflex (kappie)
#define UC_AF_A_KAP   0xe2  0xc2    // â/Â
#define UC_AF_E_KAP   0xea  0xca    // ê/Ê
#define UC_AF_I_KAP   0xee  0xce    // î/Î
#define UC_AF_O_KAP   0xf4  0xd4    // ô/Ô
#define UC_AF_U_KAP   0xfb  0xdb    // û/Û

// Acute
#define UC_AF_A_ACUTE 0xe1  0xc1    // á/Á
#define UC_AF_E_ACUTE 0xe9  0xc9    // é/É
#define UC_AF_I_ACUTE 0xed  0xcd    // í/Í
#define UC_AF_O_ACUTE 0xf3  0xd3    // ó/Ó
#define UC_AF_U_ACUTE 0xfa  0xda    // ú/Ú
